/* 全局樣式 */
body {
    font-family: Arial, sans-serif;
    background-color: #111;
    margin: 0;
    padding: 0;
    color: #fff;
}



/* 主要內容樣式 */
.main-content {
    text-align: center;
    margin: 50px auto;
    max-width: 800px;
    padding: 20px;
}

.main-content h1 {
    font-size: 4em;
    color: #fff;
    margin-bottom: 20px;
    background: linear-gradient(to right, #d0ff00, #007acc); /* 漸變背景 */
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 0 0 10px rgba(255, 208, 0, 0.5), 0 0 5px rgba(0, 153, 255, 0.3); /* 發光效果 */
}

.main-content h2 {
    font-size: 2.5em;
    color: #00ff99;
    margin-top: 10px;
}

.main-content p {
    font-size: 1.5em;
    color: #ddd;
    line-height: 1.6;
    margin: 20px 0;
}

/* 容器樣式 */
.container {
    background-color: #222;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    max-width: 800px;
    width: 100%;
    text-align: left;
    margin: 20px auto;
}

.container h2 {
    color: #00b7ff;
    font-size: 2em;
    margin-bottom: 10px;
}

.container p {
    color: #ddd;
    font-size: 1.2em;
    margin: 10px 0;
}

/* 頁腳樣式 */
.footer {
    text-align: center;
    margin: 40px auto;
    font-size: 0.9em;
    color: #666;
    padding: 10px;
    border-top: 1px solid #333;
}
.navbar {
    width: 100%;
    background-color: #333;
    padding: 0px 40px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

@keyframes colorChange {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.navbar h1 span {
    background: linear-gradient(to right, #d0ff00, #007acc);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: colorChange 5s ease infinite;
    display: inline;
    text-shadow: 0 0 10px rgba(255, 208, 0, 0.253), 0 0 5px rgba(0, 153, 255, 0.13);
}

.nav-links {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin-left: 20px;
}

.navbar h1 a {
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    transition: color 0.3s;
}

.nav-links a:hover {
    text-decoration: underline;
    color: #00ff99;
}