.menu-toggle {
    display: none;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    background-color: #333;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
}

.sidebar.active {
    transform: translateX(0);
}

.sidebar .close-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
}

.sidebar-links {
    list-style-type: none;
    padding: 0;
    margin: 50px 0;
}

.sidebar-links li {
    margin: 20px 0;
    text-align: center;
}

.sidebar-links a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    transition: color 0.3s;
}

.sidebar-links a:hover {
    color: #bbff00;
}

@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        display: none;
        width: 100%;
    }
    .nav-links.active {
        display: flex;
    }
    .menu-toggle {
        display: block;
    }
    .main-content h1 {
        font-size: 3em;
    }
    .main-content h2 {
        font-size: 2em;
    }
}
